<header class="header" id="header">
    <div class="header-container container">
        <nav class="header-nav">
            <a class="header-nav-link" href="./index.html" aria-label="site logo">
                <picture>
                    <source type="image/webp" srcset="
                    /img/logo/logo@1x.webp 1x,
                    /img/logo/logo@2x.webp 2x">
                    <img class="logo-img" src="/img/logo/logo@1x.webp" alt="logo" width="80" height="80"
                        loading="lazy">
                </picture>
                <p class="logo-text-js">jefferson*</p>
            </a>
            <button class="header-nav-btn" aria-label="open menu">
                <span class="header-nav-menu-btn">Menu</span>
                <svg class="header-bth-burger" width="28" height="28">
                    <use href="/img/sprite.svg#burger"></use>
                </svg>
            </button>
            <a class="header-nav-order-btn order-btn" href="#work-together" aria-label="Go to order form">
                Order&nbsp;the&nbsp;project
            </a>
        </nav>
    </div>
</header>

<!-- Mobile menu -->
<div class="mobile-menu">
    <button class="mobile-close-btn" id="mobile-close-menu" aria-label="close menu">
        <svg class="icon-btn" width="28" height="28">
            <use href="./img/sprite.svg#cross"></use>
        </svg>
    </button>
    <ul class="mobile-menu-list">
        <li class="mobile-menu-item">
            <a class="mobile-menu-link link" href="#aboutme" aria-label="go to about me section">
                About&nbsp;me
            </a>
        </li>
        <li class="mobile-menu-item">
            <a class="mobile-menu-link link" href="#benefits" aria-label="go to benefits section">
                Benefits
            </a>
        </li>
        <li class="mobile-menu-item">
            <a class="mobile-menu-link link" href="#projects" aria-label="go to projects section">
                Projects
            </a>
        </li>
        <li class="mobile-menu-item">
            <a class="mobile-menu-link link" href="#faq" aria-label="go to faq section">
                FAQ
            </a>
        </li>
    </ul>
    <a class="mobile-order-btn order-btn" href="#work-together" aria-label="Go to order form">
        Order&nbsp;the&nbsp;project
    </a>
</div>
<!-- nav menu -->
<div class="header-nav-menu">
    <ul class="nav-menu-list-js">
</ul>
</div>