<section class="benefits-section section" id="benefits">
  <div class="benefits-container container">
    <h2 class="benefits-title">BENEFITS OF WORKING WITH ME</h2>
      <div class="benefits-content">
        <ul class="benefits-list">
          <li class="benefits-item">
            <svg class="benefits-icon" width="24" height="24">
              <use href="/img/sprite.svg#benefits-person"></use>
            </svg>
            <h3 class="benefits-subject">Expertise</h3>
            <p class="benefits-text">
              As a highly experienced developer, I have deep knowledge of
              programming and website development.
            </p>
          </li>
          <li class="benefits-item">
            <svg class="benefits-icon" width="24" height="24">
              <use href="/img/sprite.svg#benefits-message"></use>
            </svg>
            <h3 class="benefits-subject">Communication</h3>
            <p class="benefits-text">
              Understanding your needs and wants is my priority and I am always open
              to discussions and corrections.
            </p>
          </li>
          <li class="benefits-item">
            <svg class="benefits-icon" width="24" height="24">
              <use href="/img/sprite.svg#benefits-brush"></use>
            </svg>
            <h3 class="benefits-subject">Art</h3>
            <p class="benefits-text">
              Thanks to my creative nature, I am ready to accept challenges and help
              you bring your ideas to life.
            </p>
          </li>
          <li class="benefits-item">
            <svg class="benefits-icon" width="24" height="24">
              <use href="/img/sprite.svg#benefits-hourglass"></use>
            </svg>
            <h3 class="benefits-subject">Urgent execution</h3>
            <p class="benefits-text">
              I understand how important time is to you. Ready to work quickly and
              efficiently, without reducing the quality of work.
            </p>
          </li>
        </ul>
        <a class="benefits-link" href="#work-together">
          Order the project
        </a>
      </div>
  </div>
</section>