<section class="projects-section section" id="projects">
  <div class="projects-container container">
    <h2 class="projects-title">
      Projects
    </h2>
    <div class="projects-swiper-js swiper">
      <ul class="projects-swiper-list swiper-wrapper">
        <li class="projects-slide-item swiper-slide">
          <div class="projects-slide-content-js"></div>
          <div class="projects-slide-img">
            <picture>
              <!-- mobile -->
              <source media="(min-width: 320px)" srcset="
                  /img/5-projects/img1-mob@1x.webp 1x,
                  /img/5-projects/img1-mob@2x.webp 2x" />
              <!-- tablet, desktop -->
              <source media="(min-width: 768px)" srcset="
                  /img/5-projects/img1-desk@1x.webp 1x,
                  /img/5-projects/img1-desk@1x.webp 2x" />
              <img class="slide-img" src="/img/5-projects/img1-mob@1x.webp" alt="Read journey registration"
                width="311" height="195" loading="lazy" />
            </picture>
          </div>
        </li>
        <li class="projects-slide-item swiper-slide">
          <div class="projects-slide-content-js"></div>
          <div class="projects-slide-img">
            <picture>
              <!-- mobile 320-->
              <source media="(min-width: 320px)" srcset="
                  /img/5-projects/img2-mob@1x.webp 1x,
                  /img/5-projects/img2-mob@2x.webp 2x" />
              <!-- tablet 768, desktop 1440 -->
              <source media="(min-width: 768px)" srcset="
                  /img/5-projects/img2-desk@1x.webp 1x,
                  /img/5-projects/img2-desk@2x.webp 2x" />
              <img class="slide-img" src="/img/5-projects/img2-mob@1x.webp" alt="Pet love" 
                width="311" height="195" loading="lazy" />
            </picture>
          </div>
        </li>
        <li class="projects-slide-item swiper-slide">
          <div class="projects-slide-content-js"></div>
          <div class="projects-slide-img">
            <picture>
              <!-- mobile 320-->
              <source media="(min-width: 320px)" srcset="
                  /img/5-projects/img3-mob@1x.webp 1x,
                  /img/5-projects/img3-mob@2x.webp 2x
                " />
               <!-- tablet 768, desktop 1440-->
              <source media="(min-width: 768px)" srcset="
                  /img/5-projects/img3-desk@1x.webp 1x,
                  /img/5-projects/img3-desk@2x.webp 2x
                " />
              <img class="slide-img" src="/img/5-projects/img3-mob@1x.webp" alt="VocabBuilder register" 
                width="311" height="195" loading="lazy"/>
            </picture>
          </div>
        </li>
      </ul>
      <!-- buttons -->
      <div class="swiper-btn-wrap">
        <button class="swiper-btn-left-js swiper-btn" type="button">
          <svg class="swiper-btn-icon" width="24" height="24">
            <use href="/img/sprite.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
        <button class="swiper-btn-right-js swiper-btn" type="button">
          <svg class="swiper-btn-icon" width="24" height="24">
            <use href="/img/sprite.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>