<section class="faq-section section" id="faq">
  <div class="faq-container container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="faq-accordion-list">
      <li class="faq-accordion-item ac">
        <h3 class="faq-accordion-subject">
          <button class="faq-accordion-btn ac-trigger" type="button">
            <span class="faq-accordion-question">
              What programming languages ​​are most often used in your project?
            </span>
            <svg class="faq-accordion-icon" width="20" height="20">
              <use href="/img/sprite.svg#up-arrow"></use>
            </svg>
          </button>
        </h3>
        <div class="faq-accordion-panel ac-panel">
          <p class="faq-accordion-answer">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-accordion-item ac">
        <h3 class="faq-accordion-subject">
          <button class="faq-accordion-btn ac-trigger" type="button">
            <span class="faq-accordion-question">
              What are the deadlines for the&nbsp;project?
            </span>
            <svg class="faq-accordion-icon" width="20" height="20">
              <use href="/img/sprite.svg#up-arrow"></use>
            </svg>
          </button>
        </h3>
        <div class="faq-accordion-panel ac-panel">
          <p class="faq-accordion-answer">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="faq-accordion-item ac">
        <h3 class="faq-accordion-subject">
          <button class="faq-accordion-btn ac-trigger" type="button">
            <span class="faq-accordion-question">
              What payment methods do you accept?
            </span>
            <svg class="faq-accordion-icon" width="20" height="20">
              <use href="/img/sprite.svg#up-arrow"></use>
            </svg>
          </button>
        </h3>
        <div class="faq-accordion-panel ac-panel">
          <p class="faq-accordion-answer">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="faq-accordion-item ac">
        <h3 class="faq-accordion-subject">
          <button class="faq-accordion-btn ac-trigger" type="button">
            <span class="faq-accordion-question">
              How can I contact you?
            </span>
            <svg class="faq-accordion-icon" width="20" height="20">
              <use href="/img/sprite.svg#up-arrow"></use>
            </svg>
          </button>
        </h3>
        <div class="faq-accordion-panel ac-panel">
          <p class="faq-accordion-answer">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-accordion-item ac">
        <h3 class="faq-accordion-subject">
          <button class="faq-accordion-btn ac-trigger" type="button">
            <span class="faq-accordion-question">
              Do you provide advice or&nbsp;support?
            </span>
            <svg class="faq-accordion-icon" width="20" height="20">
              <use href="/img/sprite.svg#up-arrow"></use>
            </svg>
          </button>
        </h3>
        <div class="faq-accordion-panel ac-panel">
          <p class="faq-accordion-answer">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="faq-accordion-item ac">
        <h3 class="faq-accordion-subject">
          <button class="faq-accordion-btn ac-trigger" type="button">
            <span class="faq-accordion-question">
              What does the process of developing a software product look like from idea to implementation?
            </span>
            <svg class="faq-accordion-icon" width="20" height="20">
              <use href="/img/sprite.svg#up-arrow"></use>
            </svg>
          </button>
        </h3>
        <div class="faq-accordion-panel ac-panel">
          <p class="faq-accordion-answer">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>