<section class="covers-section section" id="covers">
  <div class="covers-container">
    <h2 class="covers-title visually-hidden">Covers</h2>
    <div class="covers-wrapper">
      <div class="covers-set">
        <picture>
          <source srcset="
              /img/7-covers/cover-1@1x.webp 1x,
              /img/7-covers/cover-1@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-1@1x.webp" alt="project1" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-2@1x.webp 1x,
              /img/7-covers/cover-2@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-2@1x.webp" alt="project2" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-3@1x.webp 1x,
              /img/7-covers/cover-3@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-3@1x.webp" alt="project3" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-4@1x.webp 1x,
              /img/7-covers/cover-4@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-4@1x.webp" alt="project4" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-5@1x.webp 1x,
              /img/7-covers/cover-5@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-5@1x.webp" alt="project5" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-1@1x.webp 1x,
              /img/7-covers/cover-1@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-1@1x.webp" alt="project1" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-2@1x.webp 1x,
              /img/7-covers/cover-2@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-2@1x.webp" alt="project2" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-3@1x.webp 1x,
              /img/7-covers/cover-3@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-3@1x.webp" alt="project3" loading="lazy" />
        </picture>
      </div>
      <div class="covers-set">
        <picture>
          <source srcset="
              /img/7-covers/cover-4@1x.webp 1x,
              /img/7-covers/cover-4@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-4@1x.webp" alt="project3" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-5@1x.webp 1x,
              /img/7-covers/cover-5@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-5@1x.webp" alt="project4" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-6@1x.webp 1x,
              /img/7-covers/cover-6@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-6@1x.webp" alt="project5" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-7@1x.webp 1x,
              /img/7-covers/cover-7@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-7@1x.webp" alt="project6" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-8@1x.webp 1x,
              /img/7-covers/cover-8@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-8@1x.webp" alt="project7" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-4@1x.webp 1x,
              /img/7-covers/cover-4@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-4@1x.webp" alt="project3" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-5@1x.webp 1x,
              /img/7-covers/cover-5@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-5@1x.webp" alt="project4" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-6@1x.webp 1x,
              /img/7-covers/cover-6@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-6@1x.webp" alt="project5" loading="lazy" />
        </picture>
      </div>
      <div class="covers-set">
        <picture>
          <source srcset="
              /img/7-covers/cover-7@1x.webp 1x,
              /img/7-covers/cover-7@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-7@1x.webp" alt="project5" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-8@1x.webp 1x,
              /img/7-covers/cover-8@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-8@1x.webp" alt="project6" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-9@1x.webp 1x,
              /img/7-covers/cover-9@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-9@1x.webp" alt="project7" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-10@1x.webp 1x,
              /img/7-covers/cover-10@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-10@1x.webp" alt="project8" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-1@1x.webp 1x,
              /img/7-covers/cover-1@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-1@1x.webp" alt="project9" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-7@1x.webp 1x,
              /img/7-covers/cover-7@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-7@1x.webp" alt="project5" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-8@1x.webp 1x,
              /img/7-covers/cover-8@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-8@1x.webp" alt="project6" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-9@1x.webp 1x,
              /img/7-covers/cover-9@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-9@1x.webp" alt="project7" loading="lazy" />
        </picture>
      </div>
      <div class="covers-set">
        <picture>
          <source srcset="
              /img/7-covers/cover-10@1x.webp 1x,
              /img/7-covers/cover-10@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-10@1x.webp" alt="project7" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-1@1x.webp 1x,
              /img/7-covers/cover-1@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-1@1x.webp" alt="project8" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-2@1x.webp 1x,
              /img/7-covers/cover-2@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-2@1x.webp" alt="project9" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-3@1x.webp 1x,
              /img/7-covers/cover-3@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-3@1x.webp" alt="project10" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-4@1x.webp 1x,
              /img/7-covers/cover-4@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-4@1x.webp" alt="project1" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-10@1x.webp 1x,
              /img/7-covers/cover-10@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-10@1x.webp" alt="project7" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-1@1x.webp 1x,
              /img/7-covers/cover-1@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-1@1x.webp" alt="project8" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-2@1x.webp 1x,
              /img/7-covers/cover-2@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-2@1x.webp" alt="project9" loading="lazy" />
        </picture>
      </div>
      <div class="covers-set">
        <picture>
          <source srcset="
              /img/7-covers/cover-3@1x.webp 1x,
              /img/7-covers/cover-3@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-3@1x.webp" alt="project9" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-4@1x.webp 1x,
              /img/7-covers/cover-4@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-4@1x.webp" alt="project10" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-5@1x.webp 1x,
              /img/7-covers/cover-5@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-5@1x.webp" alt="project1" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-6@1x.webp 1x,
              /img/7-covers/cover-6@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-6@1x.webp" alt="project2" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-7@1x.webp 1x,
              /img/7-covers/cover-7@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-7@1x.webp" alt="project3" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-3@1x.webp 1x,
              /img/7-covers/cover-3@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-3@1x.webp" alt="project9" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-4@1x.webp 1x,
              /img/7-covers/cover-4@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-4@1x.webp" alt="project10" loading="lazy" />
        </picture>
        <picture>
          <source srcset="
              /img/7-covers/cover-5@1x.webp 1x,
              /img/7-covers/cover-5@2x.webp 2x" />
          <img class="covers-set-img" src="/img/7-covers/cover-5@1x.webp" alt="project1" loading="lazy" />
        </picture>
      </div>
    </div>
  </div>
</section>