.hero {
    background-image: image-set(
            url(/img/2-hero/bg_mob@1x.webp) 1x,
            url(/img/2-hero/bg_mob@2x.webp) 2x),
            linear-gradient(to right, #ed3b44 0%, #69292d 32.27%, #1c1d20 50.32%, #1c1d20 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
    .hero {
         background-image: image-set(
            url(/img/2-hero/bg_tab@1x.webp) 1x,
            url(/img/2-hero/bg_tab@2x.webp) 2x);
    }
}
@media only screen and (min-width: 1440px) {
    .hero {
        background-image: image-set(
            url(/img/2-hero/bg_desk@1x.webp) 1x,
            url(/img/2-hero/bg_desk@2x.webp) 2x);
    }
}

.hero-container {
    padding-top: 281px;
    padding-bottom: 32px;
}
@media only screen and (min-width: 768px) {
    .hero-container {
        padding-top: 300px;
    }
}

.hero-title {
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    max-width: 343px;

    margin-bottom: 212px;
}
@media only screen and (min-width: 375px) {
    .hero-title {
        font-size: 50px;
    }
}
@media only screen and (min-width: 768px) {
    .hero-title {
        font-size: 90px;

        max-width: 632px;
        margin-bottom: 187px;
    }
}
@media only screen and (min-width: 1440px) {
    .hero-title {
       margin: 0 auto;
       margin-bottom:  243px;
       max-width: 1100px;
    }
}

.hero-social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
@media screen and (min-width: 375px) {
    .hero-social-list {
        gap: 4px;
        flex-wrap: nowrap;
    }
}
@media only screen and (min-width: 768px) {
    .hero-social-list {
       gap: 8px;
    }
}

.hero-social-item {
    width: 37px;
    height: 37px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 60px;
    border: 1px solid #fafafa33;
    transition: border-color 250ms linear, box-shadow 250ms linear;
}
.hero-social-item:hover,
.hero-social-item:active {
    background-color: #fafafa33;
}
@media only screen and (min-width: 768px) {
    .hero-social-item {
       width: 45px;
       height: 45px;
    }
}

.item-email {
    width: 180px;    
}
@media only screen and (min-width: 768px) {
    .item-email {
        width: 200px;    
    }
}

.hero-social-link {
    font-size: 14px;
    user-select: none;
}
@media only screen and (min-width: 768px) {
    .hero-social-link {
        font-size: 16px;
    }
}


