.covers-container {
    position: relative;
    height: 508px;
    overflow: hidden;

    background-image: image-set(
        url(/img/7-covers/bg-mob@1x.webp) 1x,
        url(/img/7-covers/bg-mob@2x.webp) 2x);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
    .covers-container {
        background-image: image-set(
          url(/img/7-covers/bg-tab@1x.webp) 1x,
          url(/img/7-covers/bg-tab@2x.webp) 2x);
    }
}
@media only screen and (min-width: 1440px) {
    .covers-container {
        background-image: image-set(
           url(/img/7-covers/bg-desk@1x.webp) 1x,
           url(/img/7-covers/bg-desk@2x.webp) 2x);
    }
}

.covers-wrapper {
    position: absolute;
    top: -360px;
    left: -1640px;
    transform: rotate(17deg);
}

.covers-set {
    position: relative;
    display: flex;
    transform: translateY(-185px);
    gap: 22px;
    margin-bottom: 22px;
    height: 163px;
}

.covers-set:nth-child(1) {
    left: 0px;
}

.covers-set:nth-child(2) {
    left: 150px;
}

.covers-set:nth-child(3) {
    left: 300px;
}

.covers-set:nth-child(4) {
    left: 150px;
}

.covers-set:nth-child(5) {
    left: 0;
}

@media only screen and (min-width: 768px) {
    .covers-set {
        height: 314px;
        gap: 22px;
        margin-bottom: 22px;
    }
}

.covers-set picture {
    display: block;
    height: 100%;
    min-width: 282px;
}

@media only screen and (min-width: 768px) {
    .covers-set picture {
        min-width: 544px;
    }
}

.covers-set-img {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
}

.covers-section.onScreen .covers-set-img {
    white-space: nowrap;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.covers-section.onScreen .covers-set:nth-child(1) .covers-set-img {
    animation-name: marqueeLine-left;
}

.covers-section.onScreen .covers-set:nth-child(2) .covers-set-img {
    animation-name: marqueeLine-right;
}

.covers-section.onScreen .covers-set:nth-child(3) .covers-set-img {
    animation-name: marqueeLine-left;
}

.covers-section.onScreen .covers-set:nth-child(4) .covers-set-img {
    animation-name: marqueeLine-right;
}

.covers-section.onScreen .covers-set:nth-child(5) .covers-set-img {
    animation-name: marqueeLine-left;
}

@keyframes marqueeLine-left {
    from {
        transform: translateX(250%);
    }

    to {
        transform: translateX(-288%);
    }
}

@media only screen and (min-width: 768px) {
    @keyframes marqueeLine-left {
        from {
            transform: translateX(250%);
        }

        to {
            transform: translateX(-270%);
        }
    }
}

@keyframes marqueeLine-right {
    from {
        transform: translateX(-250%);
    }

    to {
        transform: translateX(+288%);
    }
}

@media only screen and (min-width: 768px) {
    @keyframes marqueeLine-right {
        from {
            transform: translateX(-250%);
        }

        to {
            transform: translateX(+270%);
        }
    }
}